@import "tailwindcss";

.hide-scrollbar {
  overflow: auto; /* or overflow: scroll; */
}

/* Hide scrollbar for Webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge older versions */
.hide-scrollbar {
  -ms-overflow-style: none;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-up {
  animation: scroll-up 20s linear infinite;
}